<!DOCTYPE html>
<html lang = "es-AR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
    </head>
    <body>
        <header>
            <h1>Mercado Liebre</h1>
            <img src="/img/logo-mercado-liebre.svg" alt="Cargando..." width="300">
            <div> Lugar para poner la barra de búsqueda</div>
            <div> Comprá en cuotas y sin tarjeta de crédito</div>
            <nav>
                <ul>
                    <li>
                        <a href="offers">
                            Ofertas
                        </a>
                    </li>
                    <li>
                        <a href="/official_stores">
                            Tiendas Oficiales
                        </a>
                    </li>
                    <li>
                        <a href="/sell">
                            Vender
                        </a>
                    </li>
                    <li>
                        <a href="assistance">
                            Ayuda
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="">
                            Creá tu cuenta
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Ingresá
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Mis compras
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            
        </main>
        <footer>
        
        </footer>
    </body>
</html>